<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Estadísticas Codewars</title>
  </head>
  <body>
    <h1>CODEWARS: Estadísticas IES de Teis</h1>
    <div class="data">
      <h2>Diferencias</h2>
      <h3>Diferencia de honor</h3>
      <p><%= txtHonor %></p>
      
      <h3>Diferencia de puntos</h3>
      <p><%= txtScore %></p>
    </div>
    <div class="data">
      <h2>DAW</h2>
      <p>Honor total: <%= DAW_totalHonor %></p>
      <p>Puntuación total: <%= DAW_totalScore %></p>
    </div>
    <div class="data">
      <h2>DAM</h2>
      <p>Honor total: <%= DAM_totalHonor %></p>
      <p>Puntuación total: <%= DAM_totalScore %></p>
    </div>
  </body>
</html>
